<%- include('../partials/header') %>
<div class="container">
    <div style="margin-top: 5px">
        <div>
            <h1 style="word-break: break-word;"><%=blog.title%></h1>
        </div>
    </div>
    <img src = "<%= blog.image %>" style="margin-top: 10px;margin-bottom: 10px;">
    <div>
            <h4>Submitted by <a href="/users/<%= blog.author.id %>"><%= blog.author.username%> </a></h4>
            <span><h5> on <%= blog.created.toDateString() %></h5></span>
        </div>
    <div style="word-break: break-word;"><p><%- blog.description %></p></div>
    <div class="d-flex flex-row">
        <div style="margin-right: 15px">
            <button class="btn btn-warning"><a href='/blogs/<%= blog._id %>/edit'>Edit Blog</a></button>
        </div>
        <div>
            <form action='/blogs/<%=blog._id%>?_method=DELETE' method='POST'>
                <button class="btn btn-danger" >Delete</button>
            </form>
        </div>
        <div class=" ml-auto text-right">
            <a class="btn btn-success" href="/blogs/<%= blog._id %>/comments/new">Add a New Comment</a>
        </div>
    </div>
    <div class="container">
		<hr>
		<% blog.comments.forEach(function(comment){ %>
			<div class="col-mid-12">
				<div class="col-mid-12">
                <div class="d-flex justify-content-between">
                    <div><strong><%= comment.author.username %></strong></div>
                    <div>
                        <div class="row ">
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <div style="padding-right: 5px">
                                <a class="btn btn-xs btn-warning" href="/blogs/<%=blog._id %>/comments/<%=comment._id %>/edit"><i class="fa fa-pencil" aria-hidden="true" style="size"></i></a>
                            </div>
                            <div>
                                <form id="delete-form" action="/blogs/<%=blog._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-xs btn-danger" value="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                    </div>
                </div>
                <div style="word-break: break-word;">
					<p><%= comment.text %></p>
				</div>
			</div>
		<% }) %>
	</div>
</div>


<%- include('../partials/footer') %>